<!DOCTYPE html>
<html>

<head>
  <title>Wine quality predictor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1>Wine quality predictor</h1>
  <div>
    <li>Predict endpoint : this endpoint accept POST method with JSON ipnut data and should return the predictions.
      Example :
      <br>
      <br>
      {
        "input": [[7.0, 0.27, 0.36, 20.7, 0.045, 45.0, 170.0, 1.001, 3.0, 0.45, 8.8], [7.0, 0.27, 0.36, 20.7, 0.045, 45.0, 170.0, 1.001, 3.0, 0.45, 8.8]]
      }
    </br>
    <br>
    <br> Response example :
    {
      "prediction":[6,6]
    }
    </li>
  </div>
</body>

</html>